{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
<h1>Cadastro</h1>
        <form action="/cadastro/" method="POST">
                {% csrf_token %}
                {% crispy form %}
                <button type="submit">Criar</button>
        </form>
		<form method="get" action="/cadastroFornecedor">
			<button type="submit">Criar Fornecedor</button>
		</form>
		
		<form method="get" action="/cadastroCategoria">
			<button type="submit">Criar Categoria</button>
		</form>
</div>
{% endblock content %}