{% extends 'base.html' %}

{% block content %}
        <h1>Lista de Clientes</h1>

                <table>
                        <tr>
                                <th>Produto</th>
                                <th>Preco</th>
                                <th>Fornecedor</th>
								<th>Categoria</th>
                        </tr>
                {% for obj in object_list %}
                        <tr>
                                <td>{{ obj.get_self.nomeproduto }}</td>
                                <td>{{ obj.get_self.precoproduto }}</td>
                                <td>{{ obj.get_self.fornecedores_idfornecedores }}</td>
								<td>{{ obj.get_self.categoria_idcategoria }}</td>
								<td><form method="get" action="/editar?produtoid=({{obj.get_self.idprodutos}})" value="obj.get_self">
									<button type="submit">Editar</button>
								</form></td>
								
                            </tr>
                {% empty %}
                        <li>Sem itens na lista.</li>
                {% endfor %}
                </table>
{% endblock content %}